<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.webbanking.utilities.ListenerClass"></listener>
	</listeners>
	
	<test thread-count="5" name="Test">
		
		<parameter name="browser" value="chrome"></parameter>
		
		<classes>
			<class name="com.webbanking.testcases.TC_CustomerDetailsPage" />
			<class name="com.webbanking.testcases.TC_AddCustomerPage" />
			<class name="com.webbanking.testcases.TC_OpenAccountPage" />
			<class name="com.webbanking.testcases.TC_CustomerPage" />
			<class name="com.webbanking.testcases.TC_ManagerPage" />
			<class name="com.webbanking.testcases.TC_TransactionDetailsPage" />
			<class name="com.webbanking.testcases.TC_LoginPage" />
			<class name="com.webbanking.testcases.TC_AccountPage" />
			<class name="com.webbanking.testcases.TC_EndToEnd" />
		</classes>
	
	</test> <!-- Test -->
</suite> <!-- Suite -->
